**/node_modules/
**/.env
**/.expo/
**/data/
**/dist*/
**/release/
**/public/
*.sqlite*
browser-*
browser-runtime/
source-draft/
upload/
deliverables/
firebase-public/
.firebase/
**/*service-account*.json
